/* Sophisticated */
/* Colors:
#0D1B1E - Body Copy
#35605A - Main */
/* Fonts:
Playfair Display - Main Header
Ledger - Body */

.sophisticated {
    color: #0d1b1e;
    background-color: #fafafa;
    font-family: 'Ledger', serif;
}

.sophisticated p {
    line-height: 1.6;
    letter-spacing: 0.05em;
}

.sophisticated h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.sophisticated hr {
    border: 0;
    height: 1px;
    background-color: #35605A;
}

.sophisticated a {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-weight: bold;
    color: #0d1b1e;
    background-color: #fafafa;
    border: 1px solid #35605a;
    border-radius: 2px;
    font-size: 16px;
    box-shadow: 1px 1px 2px 0px #0d1b1e;
}

.sophisticated a:hover {
    background-color: #35605A;
    color: #fafafa;
}

.sophisticated-main-color {
    color: #35605A;
}

.sophisticated-title {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 62px;
    margin: 0;
    padding: 0;
}

/* Energetic */
/* Colors:
#0c0101 - Body
#1be7ff - Accent 1
#ee4035 - Accent 2
#ed254e - Accent 3
#f17105 - Accent 4 */
/* Fonts:
Monoton - Main Header
Poiret One - Body */

.energetic {
    font-family: 'Poiret One', cursive;
    color: #0c0101;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #1be7ff;
    background-image: linear-gradient(164deg, #1be7ff, #ffee00, #ed254e);
}

.energetic-overlay {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #1be7ff;
    background-color: white;
}

.energetic-title {
    font-family: 'Monoton', cursive;
    font-size: 96px;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: #f17105 2px 2px, #f17105 -2px -2px, #1be7ff -5px -5px, #ffee00 5px 5px;
    line-height: 1.2;
    color: #fff;
    padding: 0;
    margin: 0;
}

.energetic h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.energetic span {
    color: #ed254e;
}

.energetic p {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 0.075em;
}

.energetic hr {
    border: 0;
    height: 1px;
    background-color: #f17105;
    background-image: linear-gradient(to right, #1be7ff, #ed254e, #ffee00, #ed254e, #1be7ff);
}

.energetic a {
    background-color: transparent;
    color: #f17105;
    text-shadow: #1be7ff 1px 1px;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px;
    padding: 15px;
    border-radius: 10px;
}

.energetic a:hover {
    text-decoration: underline #1be7ff;
}

.energetic a:active {
    box-shadow: inset 0 0 0 2px #ffee00;
}

/* Relaxed */
/* Colors:
#6b736e - Body
#497357 - Links
#e4f5ea - Background
#99f2b7 - Accent 1
#79bf90 - Accent 2 */
/* Fonts:
Dancing Script - Main Header
Pontano Sans - Body */

.relaxed {
    color: #6b736e;
    background-color: #fff;
    font-family: 'Pontano Sans', sans-serif;
}

/* Photo by Edgar Chaparro on Unsplash */
.relaxed-overlay {
    background-color: rgba(255,255,255,0.7);
    padding: 50px;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(-45deg, rgba(228,245,234,0.9),rgba(255,255,2554,0.9)),url("../imgs/edgar-chaparro-530378-unsplash.jpg");
    box-shadow: 2px 2px 10px -5px #79bf90;
}

.relaxed-title {
    font-family: 'Dancing Script', cursive;
    font-weight: 700; 
    font-size: 72px;
    color: #79bf90;
    padding: 0;
    margin: 0;
}

.relaxed h2 {
    padding: 0;
    margin: 0;
}

.relaxed hr {
    border: 0;
    height: 1px;
    background-color: #79bf90;

}

.relaxed span {
    color: #79bf90;
    font-weight: bold;
}

.relaxed p {
    font-size: 18px;
    line-height: 1.4;
}

.relaxed a {
    background: rgba(255,255,255,0.5);
    font-size: 20px;
    color: #497357;
    margin: 25px 5px 0 5px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px -5px #79bf90;
}

.relaxed a:hover {
    color: #99f2b7;
    font-weight: bold;
}

/* Corporate */
/* Colors:
#704E2E - Background
#EDE9D0 - Alt Background
#272727 - Body
#79745C - Accent One
#D4AA7D - Accent Two */
/* Fonts:
Playfair Display - Main Header
Open Sans - Body Copy */

.corporate {
    background: #704E2E;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
}

.corporate-nav {
    background: transparent;
    position: relative;
    top: 15px;
    height: 50px;
    z-index: 1;
}


.corporate-main {
    position: relative;
    background: #EDE9D0;
    border: 1px solid #79745c;
    padding: 15px 15px 0px 15px;
    border-radius: 10px 10px 0px 0px;
    z-index: 2;
    box-shadow: 0px 2px 15px 0px #272727;
}

.corporate h1 {
    font-family: 'Playfair Display', serif;
    font-size: 46px;
    padding-bottom: 15px;
    margin: 0;
}

.corporate h2 {
    padding: 0;
    margin: 0;
}

.corporate span {
    color: #d4aa7d;
}

.corporate hr {
    border: 0;
    height: 1px;
    background-color: #79745c;
}

.corporate-nav ul {
    padding: 0;
}

.corporate-nav li {
    display: inline-block;
    position: relative;
    list-style: none;
    border: 1px solid #79745C;
    background: #EDE9D0;
    text-transform: uppercase;
    padding: 10px 0;
    border-radius: 10px 10px 0px 0px;
    height: 40px;
    box-shadow: 0px 2px 15px 0px #272727;
    font-weight: bold;
}

.corporate-nav a {
    position: relative;
    bottom: 40%;
    color: #79745C;
    text-decoration: none;
    background: none;
}

.corporate-nav li:active, .corporate-nav li:hover {
    background: #fffbe2;
    top: -5px;
}

.corporate-main p {
    line-height: 1.6;
    font-size: 18px;
}

/* responsive nav */

@media (max-width: 700px) {
    .corporate-nav {
        height: 100%;
        background: #EDE9D0;
        border-radius: 10px 10px 0px 0px;
        position: static;
        
    }

    .corporate-nav li {
        display: block;
        width: 100%;
        transition: 0.4s;
        position: static;
        margin-bottom: 0;
    }

    .corporate-nav li:last-of-type {
       margin-bottom: -5px;
    }

    .corporate-nav li:hover, .corporate-nav li:visited {
        margin-bottom: 10px;
        transition: 0.4s;
    }

    .corporate-main {
        top: -10px;
    }

}



/* Fun */
/* Colors: 
ff4800 - Orange
fff44c - Yellow
0081d9 - Blue
751cec - Purple */
/* Fonts:
Fredericka the Great - Main Header
Short Stack - Body Copy */


.fun {
    font-family: 'Short Stack', cursive;
    margin: 0 auto;
    width: 75%;
    max-width: 1200px;
    margin-top: 5%;
}

.fun a {
    
}




